.locationselection{
	display:grid;
	grid-template-columns:repeat(12, 1fr);
	grid-template-rows: 1fr 4fr 1fr;
	justify-items:center;
	align-items:center;
}
	.visiting{
		grid-column:5 / span 4;
		grid-row:1;
		text-aligns:center;
		justify-items:center;
	}
	.buttons{
		grid-column:6 / span 2;
		grid-row:2;
		font-family:'Karimun';
		font-size:1.5rem;
	}


header{
	display:grid;
	grid-template-columns: 2fr 4fr 2fr;
	grid-template-rows: 1fr 4fr 4fr 1fr;
	align-items:center;
	justify-items:center;
	height:100vh;
	margin:0;
	visibility:hidden;
	position:fixed;

	svg{
		grid-column:2;
		grid-row:2;
		width:100%;
	}
	.intro{
		grid-column:2;
		grid-row:3;
		font-size:4rem;
		font-family:'Karimun';
		align-items:center;
		justify-items:center;
		text-align:center;
	}
}
body{
	overflow-x:hidden;
	height:100vh;
	width:100vw;
}

main{
	display:grid;
	grid-template-columns:repeat(12, 1fr);
	grid-template-rows:repeat(12, 1fr);
	align-items:center;
	justify-items:center;
	height:100vh;
	width:100vw;
	margin:0;
	visibility:hidden;

	.hourly{
	grid-column: 1/12;
	grid-row: 9 / span 2;
	padding-left:100px;
	overflow-x:scroll;
	overflow-y:hidden;
	white-space: nowrap;
	width:100vw;
	background-color:rgba(255,255,255,.8);
	border:5px solid white;
	z-index:5;

	.hour1,.hour2,.hour3,.hour4,.hour5,.hour6,.hour7,.hour8,.hour9,.hour10,.hour11,.hour12{
	display:inline-block;
	margin:0;
	}
	}

	.dayscroll{
	display:grid;
	grid-template-columns:repeat(12, 1fr);
	grid-template-rows:repeat(12, 1fr);
	align-items:center;
	justify-items:center;
	height:20vh;
	width:100vw;
	margin:0;
	visibility:hidden;
	

	.days{
	grid-column: 1/-1;
	grid-row:1;
	overflow-x:scroll;
	overflow-y:hidden;
	white-space: nowrap;
	width:100vw;
	background-color:#ffffff;

	.day02,.day03,.day04,.day05,.day06,.day07,.day08{
	display:inline-block;
	margin:0;
	font-size:2rem;
	font-family:'Karimun';
	}
	.day02 p,.day03 p,.day04 p,.day05 p,.day06 p,.day07 p,.day08 p{
	font-family:'Numbers' !important;
	}
}
}

	.day01{
		grid-column:1/-1;
		grid-row:2 / span 5;
		justify-items:center;
		align-items:center;
		font-size:3rem;
		font-family:'Karimun';
		z-index:5;

		.summary{
			z-index:5;
		}
	}
	.day01 p{
		font-family:'Numbers' !important;
	}
	.day01 h3{
		z-index:5;
		font-size:2rem;
		font-family:'Numbers' !important;
	}
	.toplocation{
		grid-column:1/-1;
		grid-row:1;
		justify-items:center;
		align-items:center;
		font-family:'Karimun';
		font-size:3rem;
	}
}