.button{
	text-align:center;
	margin:20px;
	padding:5px;
	text-decoration:none;
	margin-left:-10px;
	background-color:#ffffff;
	color:#212121;
}

.locationselection{
	text-align:center;
	justify-items:center;
	font-family:'Karimun';
	font-size:1.7rem;
	height:100vh;
	position:fixed;
	top: 0;
  	left: 0;
  	background-color:#cb6679;
}

.continuebutton{
	grid-column:3/11;
	grid-row:11;
	font-size:2rem;
	font-family:'Numbers-Light';
	text-decoration:none;
	padding:.5rem;
	color:#212121;
	background-color:#ffffff;
}

.logowhite{
	grid-column:5 / span 4;
	grid-row:10 / span 3;
	width:15vw;
}
.backarrow{
	margin: 30px;
	position: fixed;
	top: 0;
	left: 0;
}