@font-face { font-family: 'Walt'; src: url('../fonts/waltographUI.ttf'); }
@font-face { font-family: 'Karimun'; src: url('../fonts/Karimun.ttf'); }
@font-face { font-family: 'Numbers'; src: url('../fonts/LilitaOne-Regular.ttf')}

html{
	font-variant-ligatures:no-common-ligatures;
}