@font-face { font-family: 'Walt'; src: url('../fonts/waltographUI.ttf'); }
@font-face { font-family: 'Karimun'; src: url('../fonts/Karimun.ttf'); }
@font-face { font-family: 'Numbers'; src: url('../fonts/Montserrat-Black.ttf');}
@font-face { font-family: 'Numbers-Light'; src: url('../fonts/Montserrat-Bold.ttf');}
@font-face { font-family: 'Numbers-Thin'; src: url('../fonts/Montserrat-Medium.ttf');}

html{
	font-variant-ligatures:no-common-ligatures;
}